@font-face {
    font-family: 'Minecraft-nMK1';
    src: url('/minecraft-font/MinecraftBold-nMK1.otf')
}
@font-face {
    font-family: 'Minecraft-Italic';
    src: url('/minecraft-font/MinecraftBoldItalic-1y1e.otf')
}
@font-face {
    font-family: 'Minecraft-R8Mo';
    src: url('/minecraft-font/MinecraftItalic-R8Mo.otf')
}
@font-face {
    font-family: 'Minecraft-Bmg3';
    src: url('/minecraft-font/MinecraftRegular-Bmg3.otf')
}

body{
    background-color: #5792b9;

    font-family: 'Minecraft-nMK1', 'Minecraft-Italic', 'Minecraft-R8Mo', 'Minecraft-Bmg3', sans-serif;
}
.horizontal-menu {
    list-style-type: none;
    margin: 80px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.horizontal-menu li {
    display: inline;
    margin-right: 50px; /* Adjust spacing between menu items */
}

.horizontal-menu li a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }